* {
    margin: 0px;
    padding: 0px;
}

#principal {
    width: 600px;
    height: 600px;
    border: solid 1px black;
    margin-top: 40px;
}

.center {
    margin: 0 auto;
}

#nomezada {
    width: inherit;
    height: 200px;
    text-align: center;
    font-size: 90px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding-top: 30px;
    font-family: 'segoe ui light'
}

.entradas {
    width: inherit;
    height: 60px;
    background-color: dodgerblue;
    text-align: center;
    font-size: 40px;
}

#nomezao {
    height: 40px;
}

#botaozada {
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

#segura_botao {
    text-align: center;
}