/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* padronização */
.center {
    margin: 0 auto;
}

#segura_tudo {
    width: 900px;
    height: auto;
    min-height: 600px;
    margin-top: 50px;
    border: solid 1px black;
    box-sizing: border-box;
    padding-top: 50px;
    overflow: hidden;
    padding-bottom: 50px;
}

#inputs {
    width: 250px;
    height: 20px;
    box-sizing: border-box;
    margin-left: 50px;
}

#segura_saidas {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.saidas {
    width: cover;
    height: inherit;
}

.contador {
    width: 120px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 50px;
    margin-right: 100px;
    padding-top: 40px;
    float: left;
    border: solid black 1px;
    font-family: 'segoe ui'
}

.cidades {
    width: 720px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 400px;
    border: solid 1px black;
    font-family: 'segoe ui'
}

#infos {
    width: cover;
    height: 100%;
}

.info_contador {
    width: 120px;
    height: inherit;
    box-sizing: border-box;
    padding-left: 50px;
    margin-right: 100px;
    padding-top: 40px;
    float: left;
    border: solid black 1px;
    color: white;
    font-family: 'segoe ui'
}

.info_cidades {
    width: 720px;
    height: inherit;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 400px;
    border: solid 1px black;
    background-color: gray;
    color: white;
    font-family: 'segoe ui'
}

.dark {
    background-color: lightgray;
}

#saida {
    box-sizing: border-box;
    padding-bottom: 40px;
}

p {
    margin-bottom: 35px;
}